@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color:#d5e1ef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    font-family: "Outfit",sans-serif;
}
.card
{
    width: 320px;
    padding: 16px;
    border-radius: 18px;
    background-color: white;
}
.card img 
{
    max-width: 100%;
    border-radius: 10px;
}
.card h2, p{
    text-align: center;
}
.card h2{
    margin: 20px auto;
}
.card p{
    margin-bottom: 20px;
    color:  hsl(220, 15%, 55%);
}